<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"><!-- Before suite  -->
  <test thread-count="5" name="Test"><!-- Before Test -->
    <classes><!--Before class  -->
      <class name="FirstPackage.LoginTest">
      <methods>
      <exclude name="TC3"></exclude>
      </methods>
      </class>
    </classes><!-- After class -->
  </test> <!-- After Test -->
</suite> <!-- After Suite -->
